body {
	background-color: #eeeeee;
}

.greeny-speech {
	background-color: white;
	text-align; center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: inline-block;
	vertical-align: bottom;
	font-size: 25px;
	padding: 20px;
	color: #999999;
	margin: 15px;
}

.greeny-speech-small {
	background-color: white;
	text-align; center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: inline-block;
	vertical-align: bottom;
	font-size: 15px;
	padding: 10px;
	color: #999999;
	margin: 15px;
}

.little-greeny {
	height: 65px;

	animation: greenyFade 2s;
	-webkit-animation: greenyFade 2s;
}



@keyframes greenyFade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


@-webkit-keyframes greenyFade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.little-greeny-container {
	height: 100px;
	display: inline-block;
}

.happy-little-greeny-container {
	animation: greenyJump 2s infinite;
	-webkit-animation: greenyJump 2s infinite;
}

@keyframes greenyJump {
	0% {padding-top: 30px;}
	50% {padding-top: 0px;}
	100% {padding-top: 30px;}
}


@-webkit-keyframes greenyJump {
	0% {padding-top: 30px;}
	50% {padding-top: 0px;}
	100% {padding-top: 30px;}
}