<link rel = "stylesheet" href = "../styles/product.css" />
<style>
	.demo-card-image.mdl-card {
	  width: 200px;
	  height: 100px;
	}
	.demo-card-image > .mdl-card__actions {
	  height: 52px;
	  padding: 16px;
	  background: rgba(0, 0, 0, 0.2);
	}
	.demo-card-image__filename {
	  color: #fff;
	  font-size: 14px;
	  font-weight: 500;
	}
</style>


<script src = "../js/angular.js"></script>
<script src = "../js/init-app.js"></script>
<script src = "../js/controllers/addProductCtrl.js"></script>



<div id = "container" ng-app = "app" ng-controller = "addProductCtrl">
	<h3> Add a product </h3>

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="name" ng-model = "product.name">
				<label class="mdl-textfield__label" for="name"> Product Name </label>
			</div>
			<br />
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="picture" ng-model = "product.picture">
				<label class="mdl-textfield__label" for="picture"> Product Image URL </label>
			</div>
			<br />
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click = "addProduct()">
			  <i class="material-icons">add</i>
			</button>
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
			<div class = "demo-card-image mdl-card mdl-shadow--2dp" ng-style="{'background-image':'url('+product.picture+')', 'background-size' : 'contain', 'background-repeat' : 'no-repeat'}">
				<div class="mdl-card__title mdl-card--expand"></div>
				<div class="mdl-card__actions">
					<span class="demo-card-image__filename"> {{product.name}} </span>
				</div>
			</div>
		</div>
 	</div>

</div>