<center>
	<div style = "width: 80%;">
		<div class="mdl-grid" style = "height: 40%;">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
				<h3> Cât de zgârcit sunt </h3>

				#grafic
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
				<h3> Ce investiții din wishlist pot face </h3>

				#lista drăgu
			</div>
		</div>

		<h3> Ce mai fac prietenii mei zgârciți? </h3>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>
		<div class = "story-container"> abcd </div>

		
	</div>
</center>