<link rel = "stylesheet" href = "styles/greeny.css" /.

<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin-bottom: 5%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-size: cover;
  height: 70%;
}

img {
  border-radius: 50%;
}
</style>


<!-- Include JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src = "../js/angular.js"></script>
<script src = "../js/ui-bootstrap.js"></script>

<script src="../js/Chart_lib.js"></script>
<script>
var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
var lineChartData = {
  // retrieve all dates from updated amount of money
  // fix the edges of the interval with "Month dd", let the rest of them blank
  labels : ["February 20th","April","May","March 15th"],
  datasets : [
      {
        label: "My First dataset",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor()]
      },
    {
      label: "My Second dataset",
      fillColor : "rgba(151,187,205,0.2)",
      strokeColor : "rgba(151,187,205,1)",
      pointColor : "rgba(151,187,205,1)",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "rgba(151,187,205,1)",
      data : [randomScalingFactor(),
            randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor()]
    }
  ]

}
$(document).ready(function() {
  var ctx = document.getElementById("chart1").getContext("2d");
  $.ajax({
    type: 'GET',
    url: '../statistics/<%-user.id %>',
    contentType: 'application/json',
    success: function(data) {
      console.log(data);
      var values = [];
      var value = 0;
      for(var i = 0; i < data.length; i++) {
        value += data[i].amount;
        values.push(value);
      }
      lineChartData.datasets[0].data = values;
      window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true
      });
    }
  });


});
</script>
<center>
<script src = "../js/init-app.js"></script>
<script src = "../js/controllers/realisableWishesCtrl.js"></script>

<center ng-app = "app" ng-controller = "realisableWishesCtrl">
	<div style = "display: none;">
		{{userId = <%=user.id%>}}
	</div>
	<div style = "width: 80%;">
		<div class="mdl-grid" style = "height: 70%;">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
  				<div>
            <img src = "images/greeny.png" class = "little-greeny" />
            <div class = "greeny-speech"> Your savings chart! </div>
            <br /> <br />
          </div>
					<div style="width:90%">
						<div>
							<canvas id="chart1" height="300" width="400"></canvas>
						</div>
					</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet" style = "overflow-y: scroll;">
				<div>
          <img src = "images/greeny.png" class = "little-greeny" />
          <div class = "greeny-speech"> You've got enough money for this! </div>
          <br /> <br />
        </div>

				<table class = "mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style = "width: 90%;">
					<tr ng-repeat = "wish in wishes | orderBy: 'price' | filter: chooseWish">
						<td class = "mdl-data-table__cell--non-numeric"> {{wish.product.name}} </td>
					</tr>
				</table>
			</div>
		</div>
      
    <br /> <br /> 
      <div>
        <img src = "images/greeny.png" class = "little-greeny" />
        <div class = "greeny-speech"> Wonder how are your friends doing? </div>
        <br /> <br />
      </div>
		<div id="stories">
		</div>


	</div>
</center>

<script>
	$(document).ready(function() {
		$.ajax({
			url: '../story/all',
			type: 'GET',
			contentType: 'application/json',
			success: function(data) {
				console.log(data);
				$.ajax({
					url: '../user',
					type: 'GET',
					contentType: 'application/json',
					success: function(users) {
						console.log(users);
						for(var i = 0; i < data.length; i++) {
							for(var j = 0; j < users.length; j++) {
								if(users[j].id === data[i].user_id) {
										//$('#stories').append('<div class="story-container">' + data[i].description + '<img src="'+ users[j].photo +'" /> <img src="'+ data.picture +'" /> Likes '+ data[i].likes + '</div>');
//										$('#stories').append('<div class="demo-card-square mdl-card mdl-shadow--2dp" style = "display: inline-block; vertical-align: top; margin: 10px;"><div class="mdl-card__title mdl-card--expand" style="background-image:url(' + data[i].picture + ')" ><h2 class="mdl-card__title-text"><img src="' + users[j].photo +'" />' + users[j].name + '</h2></div><div class="mdl-card__supporting-text">' + data[i].description + '</div>  <div class="mdl-card__actions mdl-card--border"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">love</i></button></div></div>');

										$('#stories').append('<div style = "display: inline-block; margin: 10px; vertical-align: top;"> <div class="demo-card-square mdl-card mdl-shadow--2dp"><div class="mdl-card__title mdl-card--expand" style="background-image:url(' + data[i].picture + ')" ><h2 class="mdl-card__title-text"><img src="' + users[j].photo +'" />' + users[j].name + '</h2></div><div class="mdl-card__supporting-text">' + data[i].description + '</div>  <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Like<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="width: 30p; height: 50%"><i class="material-icons">favorite</i></button></a></div></div> </div>');

								}
							}

						}
					}
				});

			},
			error: function(data) {
				console.log(data);
			}
		});
	});

</script>
