<!-- Include JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<center>
	<div style = "width: 80%;">
		<div class="mdl-grid" style = "height: 40%;">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
				<h3> Cât de zgârcit sunt </h3>

				#grafic
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
				<h3> Ce investiții din wishlist pot face </h3>

				#lista drăgu
			</div>
		</div>

		<h3> Ce mai fac prietenii mei zgârciți? </h3>
		<div id="stories">
			<div class = "story-container"> abcd </div>
		</div>


	</div>
</center>

<script>
	$(document).ready(function() {
		$.ajax({
			url: '../story/get/<%=user.id%>',
			type: 'GET',
			contentType: 'application/json',
			success: function(data) {
				console.log(data);
				$.ajax({
					url: '../user',
					type: 'GET',
					contentType: 'application/json',
					success: function(users) {
						console.log(users);
						for(var i=0; i < data.length; i++) {
							for(var j = 0; j < users.length; j++) {
								if(users[j].id === data[i].user_id) {
										$('#stories').append('<div class="story-container">' + data[i].description + '<img src="'+ users[j].photo +'" /> <img src="'+ data.picture +'" /> Likes '+ data[i].likes + '</div>');
								}
							}

						}
					}
				});

			},
			error: function(data) {
				console.log(data);
			}
		});
	});

</script>
