<h1> statistics </h1>

<br />
<script src="../js/charts.js"></script>
<script src="../js/Chart_lib.js"></script>

<div style="width:40%">
	<div>
		<canvas id="chart1" height="300" width="400"></canvas>
	</div>
</div>

<h4> Facebook ID: <%- user.id %> </h4>
<h4> Facebook name: <%- user.displayName %> </h4> 
