<center id = "container">	
	<br />
	<h3> My wishlist </h3>
	<br />

	<div style = "text-align: justify;">
		<p> 
			Can't find the product you're looking for? 
			<a href = "product/new"> <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
				Add a product!
			</button> </a>
		</p>
	</div>

	<br /> <br />
	<div class = "sticky-note">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="sample3">
			<label class="mdl-textfield__label" for="sample3"> Product Name </label>
		</div>
	    <br />


		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
			    <label class="mdl-textfield__label" for="sample4"> Product Price </label>
			    <span class="mdl-textfield__error">Input is not a number!</span>

		  </div>

		<label class = "mdl-label"> Priority </label>	    
		<input class="mdl-slider mdl-js-slider" type="range"
		  min="0" max="100" value="25" tabindex="0">

		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
			<i class="material-icons">save</i>
		</button>
	</div>
	<div class = "sticky-note">
		abc
	</div>
	<div class = "sticky-note">
		abc
	</div>
</center>